{erl_opts, [debug_info]}.
{deps, []}.

%% =========================
%% Configuration to Enable code coverage.
%% =========================
%% We can run 'Cover' along with 'eunit' or 'common test' to get code coverage.
%% For example, run 'rebar3 do eunit, cover' command to
%% run 'eunit' tests and get code coverage along with.
{cover_enabled, true}.
%% print the coverage report in the build log.
{cover_print_enabled, true}.

%% =========================
%% Additional compile options for eunit.
%% =========================
%% export_all will export all the functions, including internal ones.
{eunit_compile_opts, [export_all]}.